<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.html" %}
    {% block heading %}
    
    {% endblock %}
</head>
<body>
    {% block contentBase %}

    {% endblock %}
</body>
</html>