{% extends "layouts/base.njk" %}

{% block heading %}
    <link type="text/css" rel="stylesheet" href="../../src/css/global.css"/>
    <link type="text/css" rel="stylesheet" href="../../src/css/blog.css"/>
    <script src="../../src/js/syntaxHighlight.js" defer></script>
    <script src="../../src/js/url_fix.js" defer></script>
{% endblock %}

{% block contentBase %}
    <div class="flex flex-col justify-between min-h-screen">
        <div>
            <div class="flex flex-row bg-success">
                <ul class="menu">
                    <li class="text-lg text-neutral"><a href="/blog"><strong><span class="align-bottom material-symbols-outlined">arrow_back</span> Back</strong></a></li>
                </ul>
            </div>
            <div class="max-w-screen-lg p-5 mx-auto blog-post">
                {{ content | safe }}
            </div>
        </div>
        {% Footer %}
    </div>
{% endblock %}
