{% extends "layouts/base.njk" %}

{% block heading %}
    <link type="text/css" rel="stylesheet" href="./src/css/global.css"/>
{% endblock %}

{% block contentBase %}
    <div class="flex flex-col justify-between min-h-screen">
        <div>
            {% NavbarTop %}
            <div class="">
                {{ content | safe }}
            </div>
        </div>
        {% Footer %}
    </div>
{% endblock %}
