{% extends "layouts/base.njk" %}

{% block heading %}
    
{% endblock %}

{% block contentBase %}
    <div class="grid grid-flow-row grid-rows-1 grid-col-2-sidebar">
        {% NavbarSide %}
        <div class="min-h-full">
            <div class="min-h-screen flex flex-col justify-between">
                <div class="p-5">
                    {{ content | safe }}
                </div>
                {% Footer %}
            </div>
        </div>
    </div>
{% endblock %}
