---
layout: layouts/side.njk
title: Dev Blogs
description: See all dev blogs for COMM 429!
eleventyImport:
  collections: ["posts"]
---

<h1 class="text-3xl">{{title}}</h1>

<div class="grid-blog-posts">
  {% for post in collections.posts %}
      {% BlogCard title=post.data.title, description=post.data.description, date=post.data.date, author=post.data.author, categories=post.data.categories, link=post.url%}
  {% endfor %}
</div>

