---
layout: layouts/exerciseBase.njk
pagination:
    data: baseData.results
    size: 1
    alias: id
title: Exercise Data Page
description: "Detailed information on the specified exercise."
permalink: "workout-app/{{ 'ex-base-' + id.id }}/index.html"
---

{# <h1>{{title}}</h1>
<h1>{{description}}</h1> #}

{% ExerciseCardFull baseID=id.exercise_base, name=id.name, description=id.description, category=id.category, primary=id.muscles, secondary=id.muscles_secondary, equipment=id.equipment, baseDataMuscle=muscleGroup, baseDataEquipment=equipment %}


<script type="text/javascript" src="../../src/js/load_image.js"></script>