---
layout: layouts/side.njk
title: Workout App
description: See various exercises on this page, shown here to show the use of API calls on an exercise API.
---

<h1 class="text-3xl">{{title}}</h1>
<h2 class="text-lg">{{description}}</h2>

<form class="p-5" onsubmit='runSearch("muscleGroup", "equipment")'>
    <div class="flex flex-col sm:flex-row">
        {% DropdownSelector title="Muscle Group", results=muscleGroup.results, altNameBool=true, formID="muscleGroup" %}
        {% DropdownSelector title="Equipment", results=equipment.results, altNameBool=false, formID="equipment" %}
    </div>
    <button class="mt-5 btn btn-primary" type="submit" id="search">Search</button>
</form>

<div class="justify-center w-64 mx-auto sm:w-auto sm:mx-0 sm:grid grid-blog-posts" id="dataList">
    {% for ex in baseData.results %}
        {% ExerciseCard name=ex.name, baseID=ex.id %}
    {% endfor %}
</div>

<script type="text/javascript" src="../src/js/search_data_reload.js"></script>